bin
obj
csx
.vs
edge
Publish
project.lock.json

/packages
/TestResults

/test
/src
/dist

.DS_Store

decs.d.ts
tsconfig.json
webpack.config.js

appsettings.json
local.settings.json

### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

node_modules